opencv-python~=4.10.0.84
imutils
numpy==1.26.4
sounddevice~=0.5.0
soundfile~=0.12.1
SpeechRecognition
pydub~=0.25.1
torch~=2.4.0
Pillow~=10.4.0
requests~=2.32.3
scipy==1.14.0
matplotlib
torchvision
timm~=0.6.12
fastapi
uvicorn
openai
python-dotenv